<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>CharmHub</display-name>
	
	
	<servlet>
		<description>
		</description>
		<display-name>Addservlet</display-name>
		<servlet-name>Addservlet</servlet-name>
		<servlet-class>com.login.Addservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CreateAccount</display-name>
		<servlet-name>CreateAccount</servlet-name>
		<servlet-class>com.login.CreateAccount</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProfileServlet</display-name>
		<servlet-name>ProfileServlet</servlet-name>
		<servlet-class>com.user.ProfileServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddressServlet</display-name>
		<servlet-name>AddressServlet</servlet-name>
		<servlet-class>com.user.AddressServlet</servlet-class>
	</servlet>
	
	<servlet>
		<display-name>commonImageUploader</display-name>
		<servlet-name>commonImageUploader</servlet-name>
		<servlet-class>com.Product.commonImageUploader</servlet-class>
		
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>role</display-name>
		<servlet-name>role</servlet-name>
		<servlet-class>com.user.role</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>add_brand</display-name>
		<servlet-name>add_brand</servlet-name>
		<servlet-class>com.Product.add_brand</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Add_product</display-name>
		<servlet-name>Add_product</servlet-name>
		<servlet-class>com.Product.Add_product</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Add_Category</display-name>
		<servlet-name>Add_Category</servlet-name>
		<servlet-class>com.Product.Add_Category</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Brands</display-name>
		<servlet-name>Brands</servlet-name>
		<servlet-class>commonToAll.Brands</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>productView</display-name>
		<servlet-name>productView</servlet-name>
		<servlet-class>com.user.productView</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>productDetails</display-name>
		<servlet-name>productDetails</servlet-name>
		<servlet-class>com.user.productDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>wishListServlet</display-name>
		<servlet-name>wishListServlet</servlet-name>
		<servlet-class>com.customer.wishListServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>cartServlet</display-name>
		<servlet-name>cartServlet</servlet-name>
		<servlet-class>com.customer.cartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Addservlet</servlet-name>
		<url-pattern>/com.login.Addservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateAccount</servlet-name>
		<url-pattern>/com.login.CreateAccount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProfileServlet</servlet-name>
		<url-pattern>/com.user.ProfileServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddressServlet</servlet-name>
		<url-pattern>/com.user.AddressServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>role</servlet-name>
		<url-pattern>/com.user.role</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>add_brand</servlet-name>
		<url-pattern>/com.Product.add_brand</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>commonImageUploader</servlet-name>
		<url-pattern>/com.Product.commonImageUploader</url-pattern>
		
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Add_product</servlet-name>
		<url-pattern>/com.Product.Add_product</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Add_Category</servlet-name>
		<url-pattern>/com.Product.Add_Category</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Brands</servlet-name>
		<url-pattern>/Brands</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>productView</servlet-name>
		<url-pattern>/com.user.productView</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>productDetails</servlet-name>
		<url-pattern>/com.user.productDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>wishListServlet</servlet-name>
		<url-pattern>/com.customer.wishListServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cartServlet</servlet-name>
		<url-pattern>/com.customer.cartServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
